<!doctype html>
<html lang="fr">


<head>
    <title>Exercice 9 - debuggage</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
    <script type="text/javascript" src="../javascripts/helpers/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../javascripts/controllers/loginCtrl.js"></script>
    <script type="text/javascript" src="../javascripts/controllers/viewCtrl.js"></script>
</head>

<body>
    <header id="header">
    </header>




    <div class="content">
        <div class="container-form">
            <div class="container-title">
                <div class="col">
                    Connexion
                </div>
            </div>
            <div id="alert"></div>

            <div class="container-champ">

                <div class="col-champ">
                    <input class="input-champ" type="email" id="emailL" name="emailL"  placeholder="Adresse e-mail">
                </div>
                <div class="col-champ">
                    <input class="input-champ" type="password" id="passwordL" name="passwordL" placeholder="Mot de passe">
                </div>
            </div>
            <div class="col-champ">
                <input  class="button-champ"  id="formLogin"  value="Envoyer" type="submit">
            </div>
            <div class="col-champ">
             <a href="register.html">Créer un compte</a>
            </div>
        </div>
    </div>




</body>

</html>