<!doctype html>
<html lang="fr">


<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
    <script type="text/javascript" src="../javascripts/helpers/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../javascripts/controllers/myUploadCtrl.js"></script>
    <script type="text/javascript" src="../javascripts/controllers/viewCtrl.js"></script>
</head>

<body>
    <header id="header">
    </header>

    <div class="content">
        <div class="title-page" id="title-modif">suppression et modification</div> 


        <div class="uploads" id="uploads">



        </div>
        <div class="modal" id="modal">
            <div id="modal-back"></div>
            <div class="modal-container" id="modal-container">
                <a href="#" id="modal-close">Fermer</a>
            </div>

        </div>
    </div>
    



</body>

</html>